# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with `-o` flag
*.out

# Dependency directories (remove the comment below to include it in the .gitignore)
# vendor/

# Go workspace file
go.work.sum

# IDE specific files
.idea/ # For IntelliJ IDEA / GoLand
.vscode/ # For VS Code
.zed/
*.sublime-project
*.sublime-workspace